extends layout
block content
    h1(class="text-center my-4")= title
    form(id='YachtForm', action="/resource/yachts", method="POST", class="container mt-4")
        div.form-group
            label.yachtAttr(for='brand', class="form-label") Yacht Brand
            input#brand(type='text', name='brand', class="form-control", placeholder="Enter yacht brand")
        div.form-group
            label.yachtAttr(for='year_built', class="form-label") Year Built
            input#year_built(type='number', name='year_built', class="form-control", placeholder="Enter year built")
        div.form-group
            label.yachtAttr(for='engine_power', class="form-label") Engine Power (HP)
            input#engine_power(type='number', name='engine_power', class="form-control", placeholder="Enter engine power")
        input(type="submit", value="Create Yacht", class="btn btn-primary mt-3")
    script.
        document.forms['YachtForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeeded");
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error);
            });
        });