extends layout
block content
    h1(class="text-center my-4")= title
    form(id='YachtForm', action="/resource/yachts", method="POST", class="container mt-4")
        div.form-group
            label.yachtAttr(for='brand', class="form-label") Yacht Brand
            input#brand(type='text', name='brand', placeholder="Enter yacht brand")
        div.form-group
            label.yachtAttr(for='size', class="form-label") Yacht Size
            input#size(type='text', name='size', placeholder="Enter yacht size")
        div.form-group
            label.yachtAttr(for='cost', class="form-label") Yacht Cost
            input#cost(type='number', name='cost', placeholder="Enter yacht cost")
        input(type="submit", value="Create Yacht", class="btn btn-primary mt-3")
    script.
        document.forms['YachtForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeeded");
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error);
            });
        });